nav ul{
	background: #999;
	padding: 0px 420px;
	list-style: none;
	position: relative;
	display: inline-table;
	
}

nav ul:after{ 
	content:"";
	clear:both;
	display:block;
}

nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:180px;
	height:80px;
	text-align:center;
	line-height:60px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#F00;
}

nav ul li a{
	color: #FFF;
	display: block;
	padding: 15px 21px;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}

nav ul li:hover {
	background-color:rgb(13,13,13);
}


	
nav ul ul {
	display:none;
	background-color:rgb(13,13,13);
	position:absolute;
	top: 100%;
}


nav ul li:hover > ul{
	display:block;       
}

nav ul li li: hover {
	background: #4b545f;
	}

nav ul ul li{
	float:none;
	border-top:1px solid #ffff;
	border-bottom:1px solid #fffffa;
	position:relative;
}

nav ul ul li a{
	padding: 0px 0px;
	color:#FFF;
}

nav ul ul li a:hover{
	background:#4b5445f;
}/* CSS Document */
