nav ul{ 
	background:#FFF;
	padding: 0 180px;
	list-style:none;
	position:relative;
	display:inline-table;
	
}

nav ul:after{ 
	content:"";
	clear:both;
	display:block;
}

nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:140px;
	height:100px;
	text-align:left;
	line-height:45px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:22px;
}

nav ul li a{
	color: #0#F00;
	display: block;
	padding: 10px 5px;
	column-width:200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	
}

nav ul li:hover {
	
	background-color:#6F0;
}


	
nav ul ul {
	display:none;
	padding:0 80px;
	background-color:#300;
	position:absolute;
	top: 100%;
}


nav ul li:hover > ul{
	display:block;       
}

nav ul li li: hover {
	background: #4b545f;
	}

nav ul ul li{
	float:none;
	border-top:1px solid #ffff;
	border-bottom:1px solid #fffffa;
	position:relative;
}

nav ul ul li a{
	padding: 0px 10px;
	color:#0F3;
}

nav ul ul li a:hover{
	background:#4b5445f;
}/* CSS Document */
