@charset "utf-8";
/* CSS Document */

			#popupBoxOnePosition{
				 top: 0;
				 left: 0; 
				 position: fixed; 
				 width: 100% auto; 
				 height: 120% auto;
				background-color: rgba(0,0,0,0.7); 
			}
			.popupBoxWrapper{
	width: 400px;
	margin: 0px auto;
	text-align: left;
			}
			.popupBoxContent{
	background-image: url(../assets/bg_1.png);
	background-repeat: no-repeat;
	width: 395px;
	padding: 15px;
	color: #06C;
	font-size: 24px;
	
			}
